# API Configuration
API_KEY=your_api_key_here
FLIGHT_API_URL=
AIRLINE_API_URL=

# Google Cloud / BigQuery Configuration
BQ_PROJECT_ID=your_gcp_project_id
BQ_DATASET_BRONZE=bronze
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/gcp_service_account.json